.footerParentDiv {
  width: 100%;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 16px;
}
.footerParentDiv .content .heading {
  font-size: 24px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.footerParentDiv .footer {
  
  width: 100%;
  object-fit: cover;
  background: #002f34;
  
}
.footerParentDiv .footer img{
  object-fit: cover;
    width: 100%;
    height: 100%;
}
.footerParentDiv .footer p {
  margin: 0;
}

ul{
  list-style: none;
    text-align: justify;
    font-size: 13px;
    font-weight: 100;
    font-family: system-ui;
}